# Files
#data.location=
exit.on.missing.db=no
gc=on
locking=on

# Terminal
avoidlastcolumn=no
defaultheight=24
defaultwidth=0
detection=on
#editor=vi
#edit.verbose=DEPRECATED
hyphenate=on
reserved.lines=1

# Shell
shell.prompt=task>

# Miscellaneous
abbreviation.minimum=2
active.indicator=*
bulk=3
burndown.bias=0.666
column.padding=1
complete.all.projects=yes
complete.all.tags=yes
confirmation=yes
debug=no
debug.tls=0
dependency.indicator=D
dom=on
expressions=on
_forcecolor=no
indent.annotation=2
indent.report=0
json.array=off
list.all.projects=yes
list.all.tags=yes
locale=
nag=You have more urgent tasks.
patterns=on
print.empty.columns=yes
recurrence.indicator=R
recurrence.limit=1
regex=on
row.padding=0
search.case.sensitive=yes
tag.indicator=+
undo.style=diff
verbose=off
xterm.title=no

# Extensions
extensions=on

# Dates
calendar.details.report=list
calendar.details=sparse
calendar.holidays=none
calendar.legend=yes
calendar.offset=no
calendar.offset.value=-1
dateformat.annotation=V_Y-M-D_H:N
dateformat.edit=V_Y-M-D_H:N
dateformat.holiday=Y-M-D
dateformat.info=V_Y-M-D_H:N
dateformat.report=V_Y-M-D_H:N
dateformat=Y-M-D_H:N
displayweeknumber=yes
due=7
weekstart=monday

# Journal Entries
journal.info=on
journal.time=no
journal.time.start.annotation=Started task
journal.time.stop.annotation=Stopped task

# Holidays
monthsperline=3

# Dependencies
dependency.confirmation=on
dependency.reminder=on

# Color Controls
color.active=rgb555 on rgb410
color.alternate=on color233
color.blocked=white on color8
color.blocking=white on color6
color.burndown.done=color0 on rgb050
color.burndown.pending=color0 on rgb500
color.burndown.started=color0 on rgb550
color.calendar.due=color0 on color1
color.calendar.due.today=color15 on color1
color.calendar.holiday=color0 on color11
color.calendar.overdue=color0 on color9
color.calendar.today=color15 on rgb013
color.calendar.weekend=color235
color.calendar.weeknumber=rgb013
color.debug=color3
color.due=color1
color.due.today=rgb400
color.error=color3
color.footnote=color3
color.header=color3
color.history.add=color0 on rgb500
color.history.delete=color0 on rgb550
color.history.done=color0 on rgb050
color=off
color.overdue=color9
color.pri.H=rgb255
color.pri.L=rgb245
color.pri.M=rgb250
color.pri.none=
color.recurring=rgb013
color.scheduled=rgb444 on rgb410
color.summary.background=white on color0
color.summary.bar=black on rgb141
color.sync.added=rgb005
color.sync.changed=rgb550
color.sync.rejected=rgb500
color.tagged=rgb031
color.undo.after=color2
color.undo.before=color1
fontunderline=yes
rule.precedence.color=due.today,active,blocking,blocked,overdue,due,scheduled,keyword.,project.,tag.,uda.,recurring,pri.,tagged,completed,deleted

# Urgency
urgency.active.coefficient=
urgency.age.coefficient=
urgency.age.max=
urgency.annotations.coefficient=
urgency.blocked.coefficient=
urgency.blocking.coefficient=
urgency.due.coefficient=
urgency.next.coefficient=
urgency.priority.coefficient=
urgency.project.coefficient=
urgency.scheduled.coefficient=
urgency.tags.coefficient=
urgency.waiting.coefficient=

# Shadow File
shadow.command=list
#shadow.file=/home/user/.task/shadow.txt
shadow.notify=on

# Defaults
default.command=ruri
default.due=
default.priority=
default.project=null

# Sync
#taskd.certificate=<path>
#taskd.ciphers=NORMAL
#taskd.credentials=<organization>/<user>/<key>
#taskd.key=<path>
#taskd.server=<host>:<port>
#taskd.trust=yes|no

# Aliase
alias.shell=exec tasksh
alias.burndown=burndown.weekly
alias.history=history.monthly
alias.ghistory=ghistory.monthly
alias.rm=delete
alias._query=export

# Reports
report.active.columns=id,project,priority,due,start.active,entry.age,description
report.active.description=Lists
report.active.filter=status:pending
report.active.labels=ID,Proj,Pri,Due,Active,Age,Description
report.active.sort=due+,priority-,project+
report.all.columns=id,status,project,priority,due,end,start.active,entry.age,description
report.all.description=Lists
report.all.filter=status.not:deleted
report.all.labels=ID,Status,Proj,Pri,Due,Completed,Active,Age,Description
report.all.sort=entry+
report.blocked.columns=id,depends,project,priority,due,start.active,entry.age,description
report.blocked.description=Lists
report.blocked.filter=status:pending
report.blocked.labels=ID,Deps,Proj,Pri,Due,Active,Age,Description
report.blocked.sort=due+,priority-,start-,project+
report.blocking.columns=id,depends,project,priority,due,start.active,entry.age,description
report.blocking.description=Lists
report.blocking.filter=status:pending
report.blocking.labels=ID,Deps,Proj,Pri,Due,Active,Age,Description
report.blocking.sort=due+,priority-,start-,project+
report.completed.columns=end,project,priority,entry.age,description,uuid
report.completed.description=Lists
report.completed.filter=status:completed
report.completed.labels=Complete,Proj,Pri,Age,Description,UUID
report.completed.sort=end+,priority-,project+
report.long.columns=id,project,priority,entry,start,due,recur,due.countdown,entry.age,depends,tags,description
report.long.description=Lists
report.long.filter=status:pending
report.long.labels=ID,Proj,Pri,Added,Started,Due,Recur,Countdown,Age,Deps,Tags,Description
report.long.sort=due+,priority-,project+
report.ls.columns=id,project,priority,description
report.ls.description=Minimal
report.ls.filter=status:pending
report.ls.labels=ID,Proj,Pri,Description
report.ls.sort=priority-,project+
report.minimal.columns=id,project,description.truncated
report.minimal.description=Minimal
report.minimal.filter=status:pending
report.minimal.labels=ID,Proj,Description
report.minimal.sort=project+,description+
report.next.columns=id,project,priority,due,start.active,entry.age,urgency,description
report.next.description=Lists
report.next.filter=status:pending
report.next.labels=ID,Proj,Pri,Due,A,Age,Urg,Description
report.next.sort=urgency-,due+,priority-,start-,project+
report.overdue.columns=id,project,priority,due,start.active,entry.age,description
report.overdue.description=Lists
report.overdue.filter=status:pending
report.overdue.labels=ID,Proj,Pri,Due,Active,Age,Description
report.overdue.sort=due+,priority-,start-,project+
report.ready.columns=id,project,priority,due,start.active,entry.age,urgency,description
report.ready.description=Lists
report.ready.filter=status:pending limit:page -WAITING '(scheduled.none: or scheduled.before:now )'
report.ready.labels=ID,Proj,Pri,Due,A,Age,Urg,Description
report.ready.sort=urgency-,due+,priority-,start-,project+
report.recurring.columns=id,project,priority,due,recur,start.active,entry.age,description
report.recurring.description=Lists
report.recurring.filter=status:pending
report.recurring.labels=ID,Proj,Pri,Due,Recur,Active,Age,Description
report.recurring.sort=due+,priority-,start-,project+
report.unblocked.columns=id,depends,project,priority,due,start.active,entry.age,description
report.unblocked.description=Lists
report.unblocked.filter=status:pending
report.unblocked.labels=ID,Deps,Proj,Pri,Due,Active,Age,Description
report.unblocked.sort=due+,priority-,start-,project+
report.waiting.columns=id,project,priority,wait,entry.age,description
report.waiting.description=Lists
report.waiting.filter=status:waiting
report.waiting.labels=ID,Proj,Pri,Wait,Age,Description
report.waiting.sort=wait+,priority-,project+

# Custom
uda.uri.type=string
uda.uri.label=URI
uda.scheme.type=string
uda.scheme.label=Scheme
uda.scheme.values=http,https,ftp,ftps,dav,davs,gopher,webdav,webdavs
uda.authority.type=string
uda.authority.label=Authority
uda.part.type=string
uda.part.label=Part
uda.name.default=null
uda.name.type=string
uda.name.label=Name
uda.note.default=null
uda.note.type=string
uda.note.label=Note

report.list.description=Modified: Lists all pending tasks
report.list.filter=status:pending
report.list.columns=id,entry.epoch,modified.epoch,name,note,uri,scheme,authority,part,project.full,tags.list,depends.list
report.list.sort=id+
report.list.labels=ID,ED,MD,Name,Note,URI,Scheme,Auth,Part,Pro,Tags,Ref
report.newest.description=Modified: Shows the newest URIs
report.newest.filter=status:pending limit:30
report.newest.columns=id,entry.epoch,entry.age,uri
report.newest.sort=id-
report.newest.labels=ID,ED,Age,Uri
report.oldest.description=Modified: Shows the oldest URIs
report.oldest.filter=status:pending limit:30
report.oldest.columns=id,entry.epoch,entry.age,uri
report.oldest.sort=id+
report.oldest.labels=ID,ED,Age,Uri
report.rmeta.description=Custom: Lists ID, Pro, Tags and Ref
report.rmeta.filter=status:pending
report.rmeta.columns=id,project.full,tags.list,depends.list
report.rmeta.sort=id+
report.rmeta.labels=ID,Pro,Tags,Ref
report.rpro.description=Custom: Lists ID, Project and URI
report.rpro.filter=status:pending
report.rpro.columns=id,project.full,uri
report.rpro.sort=id+
report.rpro.labels=ID,Pro,URI
report.rtags.description=Custom: Lists ID, Tags and URI
report.rtags.filter=status:pending
report.rtags.columns=id,tags.list,uri
report.rtags.sort=id+
report.rtags.labels=ID,Tags,URI
report.rref.description=Custom: Lists ID, Ref and URI
report.rref.filter=status:pending
report.rref.columns=id,depends.list,uri
report.rref.sort=id+
report.rref.labels=ID,Ref,URI
report.ruri.description=Custom: Lists ID and URI
report.ruri.filter=status:pending
report.ruri.columns=id,uri
report.ruri.sort=id+
report.ruri.labels=ID,URI
report.rsplit.description=Custom: Lists ID, Scheme, Authority and Part
report.rsplit.filter=status:pending
report.rsplit.columns=id,scheme,authority,part
report.rsplit.sort=id+
report.rsplit.labels=ID,Scheme,Auth,Part
report.rname.description=Custom: Lists ID, Name and URI
report.rname.filter=status:pending
report.rname.columns=id,name,uri
report.rname.sort=id+
report.rname.labels=ID,Name,URI
report.rnote.description=Custom: Lists ID and Note
report.rnote.filter=status:pending
report.rnote.columns=id,note
report.rnote.sort=id+
report.rnote.labels=ID,Note
